{{#posts}}



<img src="/uploads/{{image}}" alt="{{title}}" />
  <div class="post-details">
  <!-- Zurück-Pfeil -->
  <a href="/" class="back-arrow">←</a>

  <!-- Titel -->
  <h1 class="post-title">{{title}}</h1>

  <!-- Steckbrief (Kategorie, Preis, Ort, Anzahl Personen) -->
  <div class="post-info">
    <h3>Kategorie: {{activitycategory}}</h3>
    <hr class="divider">
    <h3>Preis: {{price}}</h3>
    <hr class="divider">
    <h3>Ort: {{place}}</h3>
    <hr class="divider">
    <h3>Anzahl Personen: {{numberofpeople}}</h3>
    <hr class="divider">
  </div>

  <!-- Feine Linie -->
  

  <!-- Beitragstext -->
  <p class="post-description">{{description}}</p>

  <div class="likes">
  <form action="/like/{{id}}" enctype="multipart/form-data" method="POST">
    <input class="likeheart" type="image" src="/like.png">
  </form>
  {{/posts}}
  <p>{{likes.count}} Likes</p>

</div>


 <!-- Kommentare -->
    <div class="comments-section">
      <h2>Kommentare</h2>
      <div class="add-comment">
        <form action="/comment/{{posts.id}}" method="POST" id="commentForm">
          <input 
            type="text" 
            name="comment" 
            placeholder="Schreib einen Kommentar..." 
            required 
          />
          <button type="submit" class="comment-button">Kommentieren</button>
        </form>
      </div>
      {{#if comments.length}}
        {{#each comments}}
          <div class="comment">
            <p class="username"><i>{{username}}</i></p>
            <p class="comment-text">{{text}}</p>
          </div>
        {{/each}}
      {{else}}
        <p>Keine Kommentare vorhanden.</p>
      {{/if}}
    </div>

  </div>
</div>
