{{#posts}}

  <img src="{{image}}" alt="" />

  <h1>{{title}}</h1>

  <div class="infos_details">
    <h3>Ort: {{place}} </h3>
    <h3>Preis: {{price}} </h3>
    <h3>Anzahl Personen: {{numberofpeople}}</h3>
  </div>

  <p>{{description}}</p>

{{/posts}}

{{#comments}}
  <div class="comments">
    <p>{{text}}</p>
  </div>
{{/comments}}