<div class="landingpage">
  <h1 class="title">Funfinder</h1>
  <h2 class="claim">Dein Weg zu unvergesslichen Erlebnissen!</h2>
</div>

<form action="/" enctype="multipart/form-data" method="get" id="searchForm">
  <input placeholder="Suchbegriff" type="text" name="suche" id="search" /><br />
  <input type="submit" value="Senden" />
</form>

<a id="showAllLink" href="/">Alle Beiträge anzeigen</a>

<div class="activity-posts-container">
  {{#posts}}
    <div class="activitypost">
      <a href="/activity/{{id}}">
        <img src="/uploads/{{image}}" alt="{{title}}" />
        <h3>{{activitycategory}}</h3>
        <h1>{{title}}</h1>
        <div class="infos">
          <span>Ort: {{place}}</span>
          <span>Preis: {{price}}</span>
          <span>Personen: {{numberofpeople}}</span>
        </div>
      </a>
    </div>

  {{/posts}}

</div>